{% extends "base.html" %}

{% block content %}

<section class="text-gray-600 body-font overflow-hidden flex items-center justify-center h-screen">
    <div class="container px-5 py-12 mx-auto">
      <div class="lg:w-3/5 mx-auto bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-gray-900 text-3xl title-font font-medium text-center mb-4">
         Client Deatils: {{ client.name }}
        </h1>

        <p class="leading-relaxed mb-4 text-red-700 text-center text-lg font-bold">
          {% if client.detail %}
            {{ client.detail }}
          {% endif %}
        </p>

        <div class="space-y-2 text-center">
          <p class="text-gray-500"><strong>Address:</strong> <span class="text-gray-900">{{ client.address }}, {{ client.area }}, {{ client.city }}</span></p>
          <p class="text-gray-500"><strong>Email:</strong> <span class="text-gray-900">{{ client.email }}</span></p>
          <p class="text-gray-500"><strong>Phone:</strong> <span class="text-gray-900">{{ client.phone_number }}</span></p>
          <p class="text-gray-500"><strong>Role:</strong> <span class="text-gray-900">{{ client.role }}</span></p>
          <p class="text-gray-500"><strong>Source:</strong> <span class="text-gray-900">{{ client.source }}</span></p>
          <p class="text-gray-500"><strong>Contacted:</strong> <span class="text-gray-900">{{ client.contacted|yesno:"Yes,No" }}</span></p>
          <p class="text-gray-500"><strong>Follow up on:</strong> <span class="text-gray-900">{{ client.follow_up_date }}</span></p>
          {% if request.user.is_organisor %}
            <p class="text-gray-500"><strong>Created:</strong> <span class="text-gray-900">{{ client.date_added }}</span></p>
            <p class="leading-relaxed text-base"><strong>Agent:</strong> {{ client.agent }}</p>
          {% endif %}
        </div>

        <div class="flex justify-center mt-6 space-x-4">
          <a href="{% url 'clients:client-list' %}" class="text-white bg-red-700 py-2 px-6 rounded-lg hover:bg-gray-400 transition">
            Back
          </a>
          <a href="{% url 'clients:client-update' client.pk %}" class="text-white bg-red-700 py-2 px-6 rounded-lg hover:bg-gray-400 transition">
            Update
          </a>
          <a href="{% url 'clients:client-delete' client.pk %}" class="text-white bg-black py-2 px-6 rounded-lg hover:bg-red-700 transition">
            Delete
          </a>
        </div>
      </div>
    </div>
</section>

{% endblock content %}
